@charset "utf-8";
/* CSS Document */

#cover .title 
{
	margin-top: 60%;
	margin-left: 38%;
	font-family: "Teen Light";
	font-size: 50px;
}

#cover .load
{
	margin-left: 45%;
	margin-top: 10%;
	margin-bottom: 55%;
}

#home h1
{
	font-family: "Teen Light";
}

#home .logo
{
	background-color: black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 250px;
}

#home .choice
{	
	
}

#details .photo 
{
	border: 1px solid black;
}